---
    title: Blue Citoyen, la gestion des portails citoyen pour les collectivités par BlueDolmen
---

{% include macro-header.html %}

<header class="jumbotron masthead">
<h1>Blue Citoyen</h1>
<p>Suivre les Citoyens efficacement</p>
</header>

<div class="container">

<div class="row-fluid">

{% include macro-app-menu.html %}

<div class="span9">

<div class="page-header">
    <h1>Blue Citoyen <small>Simplifiez la vie de vos Citoyens</small></h1>
</div>

<p>BlueDolmen est une initiative open source pour mettre à disposition de tous les bases des échanges numériques de demain avec l'Etat, les Collectivités, les Organisations et les Citoyen, quelles qu'elles soient.</p>

<section id="presentation">

<h2>Présentation</h2>

<p>Les collectivités gèrent de plus en plus de courriers, de méls, de contacts téléphoniques ou de demandes verbales effectuées au guichet avec des effectifs qui se réduisent dans le même temps. Les organisations mises en place pour répondre dans des délais accceptables doivent être maintenant revues à l'aide des technologies de l'information afin de conserver cette qualité de service public qu'attend l'usager, tout en restant compatible avec la réduction des coûts de fonctionnement des services publics.</p>

<p>La solution, simple et intuitive, s'adapte facilement à votre organisation. Basée sur la GED Alfresco, elle vous fait bénéficier des nombreuses fonctionnalités collaboratives de la première GED open source du marché Alfresco.</p>

<p>En outre, Blue Citoyen est développé grâce à l'utilisation de Blue Studio / SIDE for Alfresco, facilitant son adaptation à vos besoins spécifiques.</p>

</section>

<section id="features">

<h2>Fonctionnalités</h2>

<p>Basé sur Blue Courrier, Blue Citoyen gère la totalité des flux s'il s'agissait de courrier, l'origine du flux (papier, web, mél, ...) n'ayant finalement aucun impact sur leur traitement. L'objectif est d'avoir un service rendu à l'usager qui soit toujours le même.</p>

<p>Blue Citoyen couvre les fonctions suivantes :</p>
<ul>
<li>La gestion des formulaires web, afin que toutes les demandes des usagers soient intégrés dans votre outil de gestion de courrier
<ul>
<li>Génération automatique des PDF correspondant aux formulaires web et intégration dans la gestion de courrier en tant que type &#8220;Formulaire web&#8221;</li>
</ul>
</li>
<li>La création de formulaires spécifiques à l'aide de Blue Form et l'intégration dans votre serveur web</li>
<li>La gestion des contacts téléphoniques à l'aide d'un formulaire spécifique</li>
<li>La gestion des demandes verbales, au guichet ou ailleurs, à l'aide d'un formulaire spécifique</li>
<li>Le suivi et l'analyse des demandes à partir de leur typologie pour évaluer la qualité du service rendu et anticiper les changements organisationnels  nécessaires</li>
<li>L'<strong>archivage</strong> des demandes sous la forme d'un document <strong>archive PDF </strong>contenant le formulaire et les informations obtenues lors de sa saisie (adresse IP, date, heure)</li>
<li>La <strong>recherche</strong> de formulaire, simple ou  avancée, avec la possibilité de la sauvegarder et de la partager</li>
</ul>

<p>Blue Citoyen est basé sur l'architecture Blue Fondations, facilitant l'évolution et la maintenance, permettant la gestion des SMS entrants et des messages audios et vidéos.</p>

<p>La solution s'appuie sur des composants éprouvés et novateurs comme SIDE et Alfresco, largement diffusés dans le secteur public. Les technologies utilisées sont open source. La solution est 100% compatible avec les plateformes Windows et Linux.</p>

</section>


<section id="screenshots">

<h2>Captures d'écran</h2>


</section>

{% include macro-app-references.html %}

</div>

</div>

{% include macro-footer.html %}
