---
    title: Blue Portal, la gestion des contenus dynamiques par BlueDolmen
---

{% include macro-header.html %}

<header class="jumbotron masthead">
<h1>Blue Portal</h1>
<p>Intégrer les contenus dynamiques</p>
</header>

<div class="container">

<div class="row-fluid">

{% include macro-app-menu.html %}

<div class="span9">

<div class="page-header">
    <h1>Blue Portal <small>Intégrer les contenus dynamiques</small></h1>
</div>

<p>BlueDolmen est une initiative open source pour mettre à disposition de tous les bases des échanges numériques de demain avec l'Etat, les Collectivités, les Organisations et les Citoyen, quelles qu'elles soient.</p>

<section id="presentation">

<h2>Présentation</h2>

<p>Blue Portail est la solution vous permettant  de bénéficier d'une collaboration optimale  entre vos administrés, de gagner en rapidité et de diminuer les coûts de gestion.</p>

<p>Tous vos documents sont ainsi référencés et rendus accessibles (aux collaborateurs habilités) sur un serveur web, pour une meilleure gestion  et communication des différents services au sein de votre collectivité ou de votre mairie.</p>

<p>Chaque utilisateur accède à tout moment au portail intranet et des mécanismes d'alertes peuvent être mis en place pour que les informations importantes soient visibles par tous les administrés.</p>

<p>Qu'il s'agisse de la direction (Maire, DGS, DSI), de l'administration, des services techniques, de la communication, ... chaque service pourra  communiquer efficacement avec les autres services et participer activement à la vie de la collectivité !</p>


<p>La solution, simple et intuitive, s'adapte facilement à votre organisation. Basée sur la GED Alfresco, elle vous fait bénéficier des nombreuses fonctionnalités collaboratives de la première GED open source du marché Alfresco.</p>

<p>En outre, Blue Courrier est développé grâce à l'utilisation de Blue Studio / SIDE for Alfresco, facilitant son adaptation à vos besoins spécifiques.</p>

</section>

<section id="features">

<h2>Fonctionnalités</h2>

<p>Blue Délib couvre les fonctions suivantes :</p>

<p>La solution s'appuie sur des composants éprouvés et novateurs comme SIDE et Alfresco, largement diffusés dans le secteur public. Les technologies utilisées sont open source. La solution est 100% compatible avec les plateformes Windows et Linux.</p>

</section>


<section id="screenshots">

<h2>Captures d'écran</h2>


</section>

{% include macro-app-references.html %}

</div>

</div>

{% include macro-footer.html %}
