---
    title: Blue Démat, la dématérialisation documentaire simple et facile par BlueDolmen
---

{% include macro-header.html %}

<!-- Masthead
================================================== -->
<header class="jumbotron masthead">
<h1>Blue Démat</h1>
<p>La main est plus rapide que l'ordinateur</p>
</header>

<div class="container">

<div class="row-fluid">

{% include macro-app-menu.html %}

<div class="span9">

<div class="page-header">
    <h1>Blue Démat <small>La main est plus rapide que l'ordinateur</small></h1>
</div>

<p>BlueDolmen est une initiative open source pour mettre à disposition de tous les bases des échanges numériques de demain avec l'Etat, les Collectivités, les Organisations et les Citoyen, quelles qu'elles soient.</p>

<section id="presentation">

<h2>Présentation</h2>

<p>La solution, simple et intuitive, s'adapte facilement à votre organisation. Basée sur la GED Alfresco, elle vous fait bénéficier des nombreuses fonctionnalités collaboratives de la première GED open source du marché Alfresco.</p>

<p>En outre, Blue Démat est développé grâce à l'utilisation de Blue Studio / SIDE for Alfresco, facilitant son adaptation à vos besoins spécifiques.</p>

</section>

<section id="features">

<h2>Fonctionnalités</h2>

<p>Blue Délib couvre les fonctions suivantes :</p>

<p>La solution s'appuie sur des composants éprouvés et novateurs comme SIDE et Alfresco, largement diffusés dans le secteur public. Les technologies utilisées sont open source. La solution est 100% compatible avec les plateformes Windows et Linux.</p>

</section>


<section id="screenshots">

<h2>Captures d'écran</h2>


</section>

{% include macro-app-references.html %}

</div>

</div>

{% include macro-footer.html %}
