---
    title: Blue Studio, le studio de développement d'applications Alfresco robustes et performantes par BlueDolmen
---

{% include macro-header.html %}

<!-- Masthead
================================================== -->
<header class="jumbotron masthead">
<h1>Blue Studio</h1>
<p>Studio graphique de développement pour Alfresco</p>
</header>

<div class="container">

<div class="row-fluid">

{% include macro-app-menu.html %}

<div class="span9">

<div class="page-header">
    <h1>Blue Studio <small>Un ensemble d'outils graphiques pour produire des applications Alfresco robustes et performantes</small></h1>
</div>

<p>Blue Studio est une initiative open source pour aider les organisations à construire, maintenir et gérer leur système d'information dans le temps.</p>

<section id="presentation">

<h2>Présentation</h2>

<p></p>

</section>

<section id="features">

<h2>Fonctionnalités</h2>

<p>Blue Studio couvre les fonctions suivantes :</p>

<p>
SIDE Alfresco Edition fonctionne avec Alfresco Enterprise Edition :
<ul>
<li>Alfresco 4.x EE</li>
<li>Alfresco 3.4.6, 3.4.7, 3.4.8, 3.4.9, 3.4.10 and 3.4.11</li>
<li>Alfresco 3.3.3</li>
<li>Alfresco 3.2r</li>
</ul>
</p>

<p>Elle fonctionne aussi avec Alfresco Community :
<ul>
<li>Alfresco 4.0.d</li>
<li>Alfresco 3.4.d</li>
<li>Alfresco 3.2r2</li>
</ul>
</p>

</section>

<section id="download">

<h2>Download</h2>

<img name="Image-Maps_7201212180112067" id="download" src="assets/images/download.png" usemap="Image-Maps_7201212180112067">

<map name="Image-Maps_7201212180112067">
	<area title="SIDE for Alfresco - Windows Version" shape="rect" coords="15,39,117,143" href="http://www.bluedolmen.org/SIDE-Alfresco/SIDE-for-Alfresco-4.x/products/SIDE-Alfresco_1.0.1028-win32.win32.x86.zip" alt="SIDE for Alfresco - Windows Version">
	<area title="SIDE for Alfresco - Mac OS X Version" shape="rect" coords="123,39,225,143" href="http://www.bluedolmen.org/SIDE-Alfresco/SIDE-for-Alfresco-4.x/products/SIDE-Alfresco_1.0.1028-macosx.carbon.x86.zip" alt="SIDE for Alfresco - Mac OS X Version">
	<area title="SIDE for Alfresco - GNU/Linux version" shape="rect" coords="231,40,333,144" href="http://www.bluedolmen.org/SIDE-Alfresco/SIDE-for-Alfresco-4.x/products/SIDE-Alfresco_1.0.1028-linux.gtk.x86.zip" alt="SIDE for Alfresco - GNU/Linux version">
</map>

<ul>
	<li><a href="http://www.side-labs.com/SIDE-Alfresco/SIDE-for-Alfresco-4.x/products/SIDE-Alfresco-macosx.cocoa.x86.zip">MacOS X Cocoa</a></li>
</ul>

</section>

<section id="screenshots">

<h2>Ressources</h2>

<p></p>

<h3>Captures d'écran</h3>
<p></p>

<h3>Vidéo</h3>
<p>SIDE is a set of graphical tool really very easy to use.</p>

<p>The following videos will show you SIDE for Alfresco in action. They will help you to use the SIDE tools efficiently:
<ul>
<li>Data modeling</li>
<li>Form modeling</li>
<li>View modeling</li>
<li>Portal modeling</li>
<li>Workflow modeling</li>
</ul>
</p>

<p>The following videos will show you SIDE for Alfresco in action. They will help you to use the SIDE tools as well.</p>

<h4>Data Modeling</h4>
<iframe src="http://player.vimeo.com/video/18875722" width="630" height="355" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

<p>This model enables you to describe content types, properties and relationships with each other.From this data model, SIDE generates for your ECM software the required configuration files so it knows how to store your content.</p>

More <a href="http://www.side-labs.com/channels/sidedatamodeling">videos</a> on data modeling...

<h4>Form Modeling</h4>
<iframe src="http://player.vimeo.com/video/18877464" width="630" height="355" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

<p>This model helps you to design the way you want to input data into your ECM repository. SIDE provides out of the box a generator for Alfresco but others generators are on the way. You could even create your own generators from these models.You can also design search forms and choose the search operators you want the user to be able to use.</p>

More <a href="http://www.side-labs.com/channels/sideformmodeling">videos</a> on form modeling...

<h4>View Modeling</h4>
<iframe src="http://player.vimeo.com/video/18879770" width="630" height="355" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

<p>This model enables you to choose the attributes you want to get when selecting a content type. This view may be a set of data (JSON), a complete widget you can integrate directly into your application or a component smoothly integrted into Alfresco Share Document Library (list page or detail page)</p>

More <a href="http://www.side-labs.com/channels/sideviewmodeling">videos</a> on view modeling...

<h4>Portal Modeling</h4>
<iframe src="http://player.vimeo.com/video/18880315" width="630" height="355" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

<p>This model enables you to design the overwhole structure of your ECM application. It allows you to aggregate views and forms (input and search forms) you create previously with other SIDE modelers.More videos on portal modeling...</p>

<h4>Workflow Modeling</h4>
<iframe src="http://player.vimeo.com/video/18907916" width="630" height="355" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

<p>This model enables you to design simple and complex workflows very quickly. SIDE generates all the artefacts (Content model, Task forms, jPDL, ...) required by Alfresco and jBPM. SIDE modeler enables you to build paperless procedures by agregating document preview, data form to update metadata about the document and workflow form to enter data about the process.More videos on workflow modeling...</p>

<h3>SIDE-Labs Channel</h3>

<p>All these videos are available in the "Featured Videos" section of this site or on the following channel</p>

<h3>Démonstration</h3>
<p>Aucune ressource n'est disponible pour le moment.</p>

</section>

{% include macro-app-references.html %}

</div>

</div>

{% include macro-footer.html %}
