---
    title: Blue Modules, les modules qui étendent vos développements Alfresco
---

{% include macro-header.html %}

<header class="jumbotron masthead">
<h1>Blue Studio Modules</h1>
<p>Modules serveur pour Alfresco</p>
</header>

<div class="container">

<div class="row-fluid">

{% include macro-app-menu.html %}

<div class="span9">

<div class="page-header">
    <h1>Blue Modules <small>Un ensemble de modules pour étendre les fonctionnalités d'Alfresco</small></h1>
</div>

<p>Blue Modules</p>

<section id="presentation">

<h2>Présentation</h2>

<p></p>

</section>

<section id="features">

<h2>Fonctionnalités</h2>

<p>Blue Modules couvre les fonctions suivantes :</p>

<p>Depuis 2005, BlueXML, fondateur du projet SIDE-Labs, a déployé de nombreux projets Alfresco, basés sur différentes versions.</p>

<p>L'objectif est d'améliorer sans cesse l'expérience utilisateur et de capitaliser sur tous ces projets pour en faire profiter les clients à venir.
Au fil du temps, des fonctionnalités manquantes sont ainsi identifiées et BlueXML les développe, les package et les livre comme des modules indépendants sur les versions successives d'Alfresco. La liste actuelle de ces modules est présentée ci-après :

Ceux qui sont suffixés par 'SIDE+'  tirent partie de la modélisation des types de contenus, des formulaires, des vues et du portail réalisées via SIDE; par exemple, le module de recherches sauvegardées est intéressant à partir du moment où des formulaires de recherche ont été définies, ce qui se fait aisément via SIDE.
Ceux qui ne sont pas suffixés par SIDE sont indépendant de la modélisation SIDE; par exemple, le module d'édition en ligne peut être utilisé à tout moment sur des fichiers bureautiques MS Office et Open Office.
</p>

<h3>IHM</h3>

<ul>
<li>IHM métier : une IHM basée sur ExtJS permet de construire des applications de consultation sans la lourdeur d'Alfresco Share. Seules les fonctions nécessaires sont disponibles.</li>
<li>Contrôles avancés pour les formulaires (SIDE+) : des extensions aux widgets des formulaires pour permettre une meilleur expérience utilisateur et permettre l'intégration de règles de gestion.</li>
<li>Gestion des Langues : une dashlet pour le portail Share de sélection des langues et de conservation dans les préférences utilisateurs et une analyseur efficace en Français pour les recherches</li>
</ul>

<h3>Recherche</h3>

<ul>
<li>Recherches avancées (SIDE+) : la disponibilité de propriétés permettant l'utilisation de contrôles avancés pour construire des formulaires de recherche puissants et intuitifs. Les associations peuvent ainsi enfin être indexées et recherchées à travers des listes de valeur à choix multiple, combinées éventuellement à l'aide d'opérateurs booléens.</li>
<li>Recherches sauvegardées (SIDE+) : la possibilité de sauvegarder les requêtes réalisées à travers les formulaires de recherche en leur associant un nom et en pouvant les re-jouer depuis ce nom.</li>
</ul>

<h3>Administration & Sécurité</h3>

<ul>
<li>Initialisation de plan de classement : la structuration d'un webscript d'initialisation d'un plan de classement incluant la structure, les permissions, les règles, les scripts, les templates d'email, les groupes, les utilisateurs de test, les documents de test.</li>
<li>Gestion des groupes dynamiques (SIDE+) : une extension au modèle de sécurité Share pour permettre à des groupes d'utilisateurs d'avoir des permissions particulières sur des espaces et documents</li>
<li>Purge des documents : un processus de purge automatique des documents supprimés par les utilisateurs.</li>
</ul>

<h3>Gestion documentaire</h3>

<ul>
<li>Édition en ligne : une alternative à Sharepoint pour éditer en ligne des fichiers bureautique non limités à MS Office mais également pour MS Office 2000 et Open Office 3+ sur IE, Firefox, Chrome, Safari</li>
<li>Injection de métadonnées dans des fichiers bureautiques (SIDE+) : la possibilité d'associer des fichiers bureautiques (MS Office, Open Office, PDF) à des modèles et d'injecter des méta-données dans les fichiers pour instancier des variables définis dans les modèles (par exemple, un tableau d'approbation ou d'historique).</li>
<li>Génération de fichiers CSV : la possibilité de générer un fichier csv à partir d'un liste de résultat de recherche ou de filtrage</li>
</ul>

<h3>Processus documentaires</h3>

<ul>
<li>Historisation & Archive (SIDE+) : conserver les versions successives des objets associés aux documents (dossier ou fichier) qui passe par un circuit de validation</li>
<li>Traçabilité (SIDE+) : tracer tous les passages de transition des circuits de validation comme objets associés aux documents sur lesquels des circuits ont été lancés</li>
<li>Signature Électronique : intégrer une signature électronique lors de la diffusions d'un document validé</li>
<li>Génération PDF : générer un pdf sélectivement sur les fichiers associés à un document passant par un circuit de validation</li>
<li>Délégation (SIDE+) : déléguer des tâches de validation ou diffusion à des tiers</li>
<li>Droits de remord (Demande de modification - SIDE+) : gérer à travers un workflow les demandes de modification (révision ou archivage) de documents validés</li>
</ul>

<h3>Rapport & Tableau de bord</h3>

Module de reporting SQL (SIDE+) : synchronisation dans une base de données suivant un schéma métier relationnel de tous les création, mises à jour et suppression des objets de certains types de contenu à des fins de reporting et d'analyse
Dashlet de statistiques : une dashlet et un environnement de création de statistiques au fil du temps sur les contenus et les membres de site du portail Share

</section>

<section id="screenshots">

<h2>Ressources</h2>

<p></p>

<h3>Captures d'écran</h3>
<p></p>

<h3>Démonstration</h3>
<p>Aucune ressource n'est disponible pour le moment.</p>

</section>

{% include macro-app-references.html %}

</div>

</div>

{% include macro-footer.html %}
