---
    title: Comment contribuer au projet BlueDolmen
---

{% include macro-header.html %}

<header class="jumbotron masthead">
<h1>Contribuer</h1>
<p>Open source, licence, méritocratie, ...</p>
</header>

<div class="container">

<div class="row-fluid">

<div class="span3 bs-docs-sidebar">

<ul id="navbar" class="nav nav-list bs-docs-sidenav affix" data-affix-top="100px">
	<li class=""><a href="#howto"><i class="icon-chevron-right"></i> Comment contribuer ?</a></li>
	<li class=""><a href="#features"><i class="icon-chevron-right"></i> </a></li>
</ul>

</div>

<div class="span9">

<div class="page-header">
    <h1>Contribuer <small>Un vrai projet open source</small></h1>
</div>

<section id="presentation">

<h2>Contributions</h2>

<p>Les contributions au projet Open Source BlueDolmen sont ouvertes à toute société, association ou personne souhaitant faire bénéficier de son expérience et de ces développement de processus documentaires pour peu qu'il se conforme explicitement au contrat de licence AGPL v3.</p>
<p>Ceci implique qu'il accepte explicitement que tout le code qu'il a réalisé comme extension à BlueDolmen et qu'il souhaite partager dans ce projet soit alors couvert par un contrat de licence AGPL v3. De même, il s'engage lors de l'utilisation des briques de BlueDolmen à fournir au projet tout extension et correction qu'il serait amené à réaliser sur ces briques.</p>
<p>Les contributeurs ont accès via un compte dédié au svn de BlueDolmen contenant les diverses projets et leurs sources.</p>
<p>Pour s'enregistrer en tant que contributeur, il est  nécessaire d'envoyer un email à <a title="S'enregistrer en tant que contributeur au projet BlueDolmen" href="mailto://enregistrement@BlueDolmen.org" >enregistrement@BlueDolmen.org</a> en indiquant ses coordonnées, la raison sociale de son entreprise, son adresse; en retour un formulaire est envoyé pour préciser les objectifs et attentes quant à la participation à BlueDolmen. A la réception du formulaire, une ouverture de compte est réalisée qui permet l'accès au svn.</p>
<p>Il est à noter que les livrables du projet contiennent également les sources des projets et qu'il n'est donc pas nécessaire d'être contributeur pour accéder aux sources. Toutefois, les sources contenu dans les livrables ne le sont pas sous forme de projet comme dans le svn et un travail d'intégration est donc nécessaire pour les exploiter.</p>
<p>Là aussi, l'acceptation du contrat de Licence de BlueDolmen impose à tout utilisateur de fournir au projet tout correction ou extension que cet utilisateur de BlueDolmen a pu être amené à faire dans le cadre de son utilisation.</p>
<p>La fourniture de ces extensions se fait par l'envoi via email à <a title="déposer des corrections ou extensions à BlueDolmen" href="mailto://extension.BlueDolmen.org" >extension@BlueDolmen.org</a> d'un fichier au format zip des extensions réalisées ne contenant que les sources avec un fichier README explicatif. En fonction de la roadmap et de la qualité du code,  ces extensions seront intégrés dans BlueDolmen telle quelle ou adaptée à un moment donné qui sera indiqué sur la page &#8216;Se projeter' du site.</p>
<p>Les principaux contributeurs sont par ordre alphabétique :</p>

<table border="5" rules="all">
<tbody>
<tr>
<th>Raison Sociale</th>
<th>Prénom Nom Contact</th>
<th>Adresse Mel</th>
<th>Téléphone</th>
</tr>
<tr>
<td><strong>BlueXML</strong></td>
<td><strong>Eric Le Garec</strong></td>
<td><a title="Eric Le Garec" href="mailto://elg@bluexml.com" >elg@bluexml.com</a></td>
<td><strong>02 40 46 62 78</strong></td>
</tr>
<tr>
<td><strong>Collectic</strong></td>
<td><strong>Eric Thomas</strong></td>
<td><a title="Eric Thomas" href="mailto://eric.thomas@collectic.fr" >eric.thomas@collectic.fr</a></td>
<td><strong>02 85 52 19 70</strong></td>
</tr>
</tbody>
</table>

</div>

</section>

<section id="features">

</section>

</div>

</div>

{% include macro-footer.html %}
