---
    title: Captures d'écran des consoles de démonstration
---

{% include macro-header.html %}

<!-- Masthead
================================================== -->
<header class="jumbotron masthead">
<h1>Captures d'écran</h1>
<p>Voilà à quoi ressemble BlueDolmen</p>
</header>

<div class="container">

<div class="row-fluid">

<div class="span3 bs-docs-sidebar">

<ul id="navbar" class="nav nav-list bs-docs-sidenav affix" data-affix-top="100px">
	<li class=""><a href="#blue-suite"><i class="icon-chevron-right"></i> Blue Suite</a></li>
</ul>

</div>

<div class="span9">

<section id="blue-suite">

<h2>Blue Suite</h2>
<p>Cette page est en cours de construction</p>
</section>

</div>
</div>
</div>

{% include macro-footer.html %}
