---
    title: Consoles de démonstration de BlueDolmen
---

{% include macro-header.html %}

<header class="jumbotron masthead">
<h1>Démonstration</h1>
<p>Voilà à quoi ressemble BlueDolmen</p>
</header>

<div class="container">

<div class="row-fluid">

<div class="span3 bs-docs-sidebar">

<ul id="navbar" class="nav nav-list bs-docs-sidenav affix" data-affix-top="100px">
	<li class=""><a href="#console-bluedolmen"><i class="icon-chevron-right"></i> Console Blue Dolmen</a></li>
	<li class=""><a href="#console-bluestudio"><i class="icon-chevron-right"></i> Console Blue Studio</a></li>
</ul>

</div>

<div class="span9">

<section id="console-bluedolmen">
<h2>Console BlueDolmen</h2>
<p>La console est disponible <a href="https://demo.cloud.bluedolmen.com/blue/blue-suite/">ici</a>. Elle présente :
<ul>
<li>les manuels utilisateurs des applications composant BlueDolmen :
<ul>
<li><a href="https://demo.cloud.bluedolmen.com/blue/blue-suite/#!/guide/blue_digitization">Blue Démat</a></li>
<li><a href="https://demo.cloud.bluedolmen.com/blue/blue-suite/#!/guide/blue_courrier">Blue Courrier</a></li>
<li><a href="https://demo.cloud.bluedolmen.com/blue/blue-suite/#!/guide/blue_ecm">Blue ECM</a></li>
<li><a href="https://demo.cloud.bluedolmen.com/blue/blue-suite/#!/guide/blue_delib">Blue Délib</a></li>
<li><a href="https://demo.cloud.bluedolmen.com/blue/blue-suite/#!/guide/blue_parapheur">Blue Parapheur</a></li>
<li><a href="https://demo.cloud.bluedolmen.com/blue/blue-suite/#!/guide/blue_process">Blue Formulaire</a></li>
</ul>
</li>
<li>des vidéos de Blue Courrier pour le moment</li>
<li>des démonstrations :
<ul>
<li><a href="https://demo.cloud.bluedolmen.com/blue/blue-suite/#!/example/blue-courrier">Blue Courrier</a></li>
<li><a href="https://demo.cloud.bluedolmen.com/blue/blue-suite/#!/example/blue-ecm">Blue ECM</a></li>
<li><a href="https://demo.cloud.bluedolmen.com/blue/blue-suite/#!/example/blue-rh">Blue RH</a></li>
<li><a href="https://demo.cloud.bluedolmen.com/blue/blue-suite/#!/example/blue-parapheur">Blue Parapheur</a></li>
</ul>
</li>
</p>
</section>

<section id="console-bluestudio">
<h2>Console Blue Studio (SIDE)</h2>
<p>La console est disponible <a href="https://demo.cloud.bluedolmen.com/blue/blue-side/">ici</a>.</p>
</section>

</div>
</div>
</div>

{% include macro-footer.html %}
