
    </div><!-- /container -->

	<div class="container">
     <!-- Footer
      ================================================== -->
      <footer class="footer">
        <p class="pull-right"><a href="#">Haut</a></p>
        <p><a href="legal.html#mentionslegales">Mentions légales</a> | <a href="legal.html#historique">Historique</a> | <a href="legal.html#assistance">Assistance</a></p>
        <p>Copyright © 2013 BlueDolmen / www.bluedolmen.org. Tous Droits Réservés.</p>
        <p>Conçu et réalisé à partir de Twitter Bootstrap <a href="http://twitter.com/twitter" target="_blank">@twitter</a>. Icones de <a href="http://glyphicons.com">Glyphicons Free</a>, licence <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
      </footer>

	</div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/google-code-prettify/prettify.js"></script>
    <script src="assets/js/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap-typeahead.js"></script>
    <script src="assets/js/bootstrap-affix.js"></script>

    <script src="assets/js/application.js"></script>

	<script>
		$('#navbar').affix();
	</script>

  </body>
</html>
